@model IEnumerable<Football_Management.Areas.Admin.ViewModels.Standing.IndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home </li>
    </ol>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="admin" asp-controller="home" asp-action="Index">Home  </a>
        </li>
        <li class="breadcrumb-item">  <a>Rankings </a> </li>
        <li class="breadcrumb-item active" aria-current="page">Standing </li>
    </ol>
</nav>

<form asp-controller="Standing" asp-action="Create" method="post">
    <button type="submit" class="btn btn-primary">Auto Create standing</button>
</form>

<div class="card card-default">
    <div class="card-body">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">@TempData["Success"]</div>
        }
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Club</th>
                    <th scope="col">Played</th>
                    <th scope="col">GD</th>
                    <th scope="col">Points</th>
                    <th scope="col">Other</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var club in Model)
                {
                    <tr>
                        <td scope="row">@club.Index</td>
                        <td>
                            <img src="~/Assets/images/logo/@club.LogoUrl" alt="Logo" style="width: 30px; height: 30px" />
                            <span style="margin-left: 10px">@club.ClubName</span>
                        </td>
                        <td>@club.Played</td>
                        <td>@club.GoalDifference</td>
                        <td>@club.Points</td>
                        <th>
                            <a asp-controller="Standing" asp-action="Detail" asp-route-id="@club.StandingId">
                                <span class="mdi mdi-format-list-bulleted"></span>
                            </a>
                            <a asp-controller="Standing" asp-action="Edit" asp-route-id="@club.StandingId">
                                <span class="mdi mdi-pencil"></span>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>