@model Football_Management.Areas.Admin.ViewModels.PaginatedViewModel<Football_Management.Areas.Admin.ViewModels.Accounts.IndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home </li>
    </ol>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="admin" asp-controller="home" asp-action="Index">Home  </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Accounts </li>
    </ol>
</nav>

<a class="btn btn-primary" asp-controller="Accounts" asp-action="Create">
    Create <span class="mdi mdi-plus-circle-outline"></span>
</a>

<div class="card card-default">
    <div class="card-body">
        <input style="margin-bottom: 10px" type="text" id="searchInput" class="form-control col-6" placeholder="Search UserName" />
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.PageNumber)
            {
                <h4 style="margin-bottom: 15px">Page number: @i/@Model.TotalPages</h4>
            }
        }
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role name</th>
                    <th scope="col">Is active?</th>
                    <th scope="col">Other</th>
                </tr>
            </thead>
            <tbody id="accountsTable">
                @foreach (var account in Model.Items)
                {
                    <tr class="accountRow">
                        <td scope="row">@account.Index</td>
                        <td>@account.UserName</td>
                        <td>@account.RoleName</td>
                        <td>
                            @if (account.IsActive)
                            {
                                <span class="badge badge-success">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Blocked</span>
                            }
                        </td>
                        <th>
                            <a asp-controller="Accounts" asp-action="Detail" asp-route-id="@account.AccountId" asp-route-pageNumber="@Model.PageNumber">
                                <span class="mdi mdi-format-list-bulleted"></span>
                            </a>
                            <a asp-controller="Accounts" asp-action="Edit" asp-route-id="@account.AccountId" asp-route-pageNumber="@Model.PageNumber">
                                <span class="mdi mdi-pencil"></span>
                            </a>
                            <a asp-controller="Accounts" asp-action="Delete" asp-route-id="@account.AccountId" asp-route-pageNumber="@Model.PageNumber">
                                <span class="mdi mdi-delete-outline"></span>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div class="align-items-end" style="margin-top: 10px">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-seperated">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-pageSize="@Model.PageSize">
                                <span aria-hidden="true" class="mdi mdi-chevron-left mr-1">Prev</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    <li class="page-item active">
                        <a class="page-link">Page @Model.PageNumber of @Model.TotalPages</a>
                    </li>
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">
                                <span aria-hidden="true" class="mdi mdi-chevron-right ml-1">Next</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>